---
import '../styles/global.css';
import NeuralNetwork from '../lib/components/NeuralNetwork';
import Head from '../lib/components/Head.astro';
---

<html lang="en">
	<head>
		<Head title="Neural Network WASM" description="Neural Network WASM" />
	</head>
	<body class="bg-gray-100 dark:bg-gray-900">
	<main class="max-w-screen-lg mx-auto p-8 text-gray-900 dark:text-white">
			<h1 class="text-3xl font-bold mb-4">XOR Neural Network WASM</h1>
			<NeuralNetwork client:only="react" />
		</main>
	</body>
</html>
